<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.leave.dao.ILeaveDao" >

  <resultMap id="BaseResultMap" type="com.amayadream.leave.pojo.Leave" >
    <id column="ID" property="groupid" jdbcType="VARCHAR" />
    <result column="PROCESSINSTANCEID" property="processinstanceid" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="STARTTIME" property="starttime" jdbcType="VARCHAR" />
    <result column="ENDTIME" property="endtime" jdbcType="VARCHAR" />
    <result column="LEAVETYPE" property="leaveType" jdbcType="VARCHAR" />
    <result column="REASON" property="reason" jdbcType="VARCHAR" />
    <result column="APPLYTIME" property="applytime" jdbcType="VARCHAR" />
    <result column="REALITYSTARTTIME" property="realitystarttime" jdbcType="VARCHAR" />
    <result column="REALITYENDTIME" property="realityendtime" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    ID, PROCESSINSTANCEID, USERID, STARTTIME, ENDTIME, LEAVETYPE, REASON, APPLYTIME, REALITYSTARTTIME, REALITYENDTIME
  </sql>

  <!-- 查询所有用户 -->
  <select id="selectAll" resultMap="BaseResultMap" >
    SELECT <include refid="Base_Column_List" />
    FROM LEAVE
  </select>

  <!-- 根据用户id查询用户 -->
  <select id="selectLeaveById" resultMap="BaseResultMap" parameterType="string" >
    SELECT <include refid="Base_Column_List" />
    FROM LEAVE
    WHERE ID = #{id, jdbcType=VARCHAR}
    )
  </select>

  <!-- 根据用户id查询用户 -->
  <select id="selectLeaveByUserid" resultMap="BaseResultMap" parameterType="string" >
    SELECT <include refid="Base_Column_List" />
    FROM LEAVE
    WHERE USERID = #{userid, jdbcType=VARCHAR}
    )
  </select>

  <!-- 插入 -->
  <insert id="insert" parameterType="com.amayadream.leave.pojo.Leave" >
    <selectKey keyProperty="id" resultType="String" order="BEFORE">
      select sys_guid() from dual
    </selectKey>
    INSERT INTO EXPERIMENT (ID, PROCESSINSTANCEID, USERID, STARTTIME, ENDTIME, LEAVETYPE, REASON, APPLYTIME, REALITYSTARTTIME, REALITYENDTIME)
    VALUES (#{id,jdbcType=VARCHAR}, #{processinstanceid, jdbcType=VARCHAR}, #{userid, jdbcType=VARCHAR}, #{starttime, jdbcType=VARCHAR},
    #{endtime, jdbcType=VARCHAR}, #{leaveType, jdbcType=VARCHAR}, #{reason, jdbcType=VARCHAR}, #{applytime, jdbcType=VARCHAR},#{realitystarttime, jdbcType=VARCHAR}, #{realityendtime, jdbcType=VARCHAR})
  </insert>

  <!-- 更新 -->
  <update id="update" parameterType="com.amayadream.leave.pojo.Leave">
    UPDATE LEAVE
    <set>
      <if test="starttime != null and starttime != ''">
        STARTTIME = #{starttime, jdbcType=VARCHAR},
      </if>
      <if test="endtime != null and endtime != ''">
        ENDTIME = #{endtime, jdbcType=VARCHAR},
      </if>
      <if test="leaveType != null and leaveType != ''">
        LEAVETYPE = #{leaveType, jdbcType=VARCHAR},
      </if>
      <if test="reason != null and reason != ''">
        REASON = #{reason, jdbcType=VARCHAR},
      </if>
      <if test="applytime != null and applytime != ''">
        APPLYTIME = #{applytime, jdbcType=VARCHAR},
      </if>
      <if test="realitystarttime != null and realitystarttime != ''">
        REALITYSTARTTIME = #{realitystarttime, jdbcType=VARCHAR},
      </if>
      <if test="realityendtime != null and realityendtime != ''">
        REALITYENDTIME = #{realityendtime, jdbcType=VARCHAR},
      </if>
    </set>
    WHERE GROUPID = #{groupid, jdbcType=VARCHAR}
  </update>

  <!-- 删除用户 -->
  <delete id="delete" parameterType="string" >
    DELETE FROM LEAVE
    WHERE ID = #{id, jdbcType=VARCHAR}
  </delete>

</mapper>